.App {
  text-align: center;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statistics > div {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
